# Virtual environments
.venv

# Jupyter notebook internal stuff
.ipynb_checkpoints

# uv-generated python version file
.python-version

# cached python data
__pycache__

# VSCode settings
.vscode
.venv
.venv39
.venv_TFT
submission/*.csv
csv_files/
*lightning_logs/
